CREATE TABLE [dbo].[AnhPhong](
	[AnhPhongId] [bigint] IDENTITY(1,1) NOT NULL,
	[PhongId] [bigint] NOT NULL,
	[Anh] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnhPhongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuTro]    Script Date: 10/11/2025 12:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuTro](
	[ChuTroId] [bigint] NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChiLienHe] [nvarchar](255) NULL,
	[DaXacThuc] [bit] NULL,
	[NgayXacThuc] [datetime2](3) NULL,
 CONSTRAINT [PK__ChuTro__626E297973320EAB] PRIMARY KEY CLUSTERED 
(
	[ChuTroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 10/11/2025 12:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[HopDongId] [bigint] IDENTITY(1,1) NOT NULL,
	[PhongId] [bigint] NOT NULL,
	[SinhVienId] [bigint] NOT NULL,
	[ChuTroId] [bigint] NOT NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NULL,
	[GiaThueThang] [decimal](12, 2) NOT NULL,
	[TienDien] [decimal](12, 2) NULL,
	[TienNuoc] [decimal](12, 2) NULL,
	[TienRac] [decimal](12, 2) NULL,
	[TienMang] [decimal](12, 2) NULL,
	[TrangThai] [tinyint] NOT NULL,
 CONSTRAINT [PK__HopDong__A2D6D3476B1F93B2] PRIMARY KEY CLUSTERED 
(
	[HopDongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 10/11/2025 12:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[PhongId] [bigint] IDENTITY(1,1) NOT NULL,
	[ChuTroId] [bigint] NOT NULL,
	[TieuDe] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[PhuongXa] [nvarchar](100) NULL,
	[QuanHuyen] [nvarchar](100) NULL,
	[ThanhPho] [nvarchar](100) NOT NULL,
	[DienTichM2] [decimal](8, 2) NULL,
	[GiaCoBan] [decimal](12, 2) NOT NULL,
	[SoNguoiToiDa] [int] NULL,
	[TrangThai] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong_TienIch]    Script Date: 10/11/2025 12:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong_TienIch](
	[PhongId] [bigint] NOT NULL,
	[TienIchId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhongId] ASC,
	[TienIchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 10/11/2025 12:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[SinhVienId] [bigint] NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Truong] [nvarchar](150) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SinhVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/11/2025 12:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoanId] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[VaiTroId] [tinyint] NOT NULL,
	[TrangThai] [tinyint] NOT NULL,
 CONSTRAINT [PK__TaiKhoan__9A124B459413B2D9] PRIMARY KEY CLUSTERED 
(
	[TaiKhoanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TaiKhoan__A9D105344336F715] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 10/11/2025 12:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[ThongBaoId] [bigint] IDENTITY(1,1) NOT NULL,
	[TaiKhoanId] [bigint] NOT NULL,
	[Loai] [nvarchar](50) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[NoiDung] [nvarchar](1000) NOT NULL,
	[DaDoc] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThongBaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienIch]    Script Date: 10/11/2025 12:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienIch](
	[TienIchId] [int] IDENTITY(1,1) NOT NULL,
	[TenTienIch] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[TienIchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenTienIch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TienThueThang]    Script Date: 10/11/2025 12:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TienThueThang](
	[TienThueThangId] [bigint] IDENTITY(1,1) NOT NULL,
	[HopDongId] [bigint] NOT NULL,
	[ThangTinh] [date] NOT NULL,
	[SoTien] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TienThueThangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TienThueThang] UNIQUE NONCLUSTERED 
(
	[HopDongId] ASC,
	[ThangTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 10/11/2025 12:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[VaiTroId] [tinyint] IDENTITY(1,1) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VaiTroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TenVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuCauXacThucChuTro]    Script Date: 10/11/2025 12:04:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauXacThucChuTro](
	[XacThucId] [bigint] IDENTITY(1,1) NOT NULL,
	[ChuTroId] [bigint] NOT NULL,
	[LoaiGiayTo] [nvarchar](100) NOT NULL,
	[AnhMinhChung] [varbinary](max) NOT NULL,
	[TrangThai] [tinyint] NOT NULL,
	[DuyetBoi] [bigint] NULL,
    [NgayNop] [datetime2](3) NULL,           -- thêm: ngày nộp hồ sơ
    [DuongDanTep] [nvarchar](400) NULL,      -- thêm: đường dẫn file lưu trên đĩa
 CONSTRAINT [PK__YeuCauXa__ADF22D37A49B1050] PRIMARY KEY CLUSTERED 
(
	[XacThucId] ASC
)
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AnhPhong_Phong]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_AnhPhong_Phong] ON [dbo].[AnhPhong]
(
	[PhongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HopDong_ChuTro]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_HopDong_ChuTro] ON [dbo].[HopDong]
(
	[ChuTroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HopDong_SinhVien]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_HopDong_SinhVien] ON [dbo].[HopDong]
(
	[SinhVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_HopDong_Phong_HieuLuc]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_HopDong_Phong_HieuLuc] ON [dbo].[HopDong]
(
	[PhongId] ASC
)
WHERE ([TrangThai]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Phong_ChuTro]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_Phong_ChuTro] ON [dbo].[Phong]
(
	[ChuTroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Phong_TrangThai]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_Phong_TrangThai] ON [dbo].[Phong]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Phong_TienIch_Phong]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_Phong_TienIch_Phong] ON [dbo].[Phong_TienIch]
(
	[PhongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaiKhoan_TrangThai]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaiKhoan_TrangThai] ON [dbo].[TaiKhoan]
(
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaiKhoan_VaiTro]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_TaiKhoan_VaiTro] ON [dbo].[TaiKhoan]
(
	[VaiTroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThongBao_TaiKhoan_DaDoc]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_ThongBao_TaiKhoan_DaDoc] ON [dbo].[ThongBao]
(
	[TaiKhoanId] ASC,
	[DaDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TienThueThang_HopDong]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_TienThueThang_HopDong] ON [dbo].[TienThueThang]
(
	[HopDongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_XacThuc_ChuTro_TrangThai]    Script Date: 10/11/2025 12:04:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_XacThuc_ChuTro_TrangThai] ON [dbo].[YeuCauXacThucChuTro]
(
	[ChuTroId] ASC,
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChuTro] ADD  CONSTRAINT [DF__ChuTro__DaXacThu__5441852A]  DEFAULT ((0)) FOR [DaXacThuc]
GO
ALTER TABLE [dbo].[HopDong] ADD  CONSTRAINT [DF__HopDong__TrangTh__693CA210]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Thai Nguyen') FOR [ThanhPho]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [DF__TaiKhoan__TrangT__3C69FB99]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[YeuCauXacThucChuTro] ADD  CONSTRAINT [DF__YeuCauXac__Trang__5CD6CB2B]  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[AnhPhong]  WITH CHECK ADD FOREIGN KEY([PhongId])
REFERENCES [dbo].[Phong] ([PhongId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChuTro]  WITH CHECK ADD  CONSTRAINT [FK__ChuTro__ChuTroId__44FF419A] FOREIGN KEY([ChuTroId])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoanId])
GO
ALTER TABLE [dbo].[ChuTro] CHECK CONSTRAINT [FK__ChuTro__ChuTroId__44FF419A]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK__HopDong__ChuTroI__68487DD7] FOREIGN KEY([ChuTroId])
REFERENCES [dbo].[ChuTro] ([ChuTroId])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK__HopDong__ChuTroI__68487DD7]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK__HopDong__PhongId__66603565] FOREIGN KEY([PhongId])
REFERENCES [dbo].[Phong] ([PhongId])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK__HopDong__PhongId__66603565]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK__HopDong__SinhVie__6754599E] FOREIGN KEY([SinhVienId])
REFERENCES [dbo].[SinhVien] ([SinhVienId])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK__HopDong__SinhVie__6754599E]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK__Phong__ChuTroId__656C112C] FOREIGN KEY([ChuTroId])
REFERENCES [dbo].[ChuTro] ([ChuTroId])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK__Phong__ChuTroId__656C112C]
GO
ALTER TABLE [dbo].[Phong_TienIch]  WITH CHECK ADD FOREIGN KEY([PhongId])
REFERENCES [dbo].[Phong] ([PhongId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phong_TienIch]  WITH CHECK ADD FOREIGN KEY([TienIchId])
REFERENCES [dbo].[TienIch] ([TienIchId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien__SinhVi__412EB0B6] FOREIGN KEY([SinhVienId])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoanId])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK__SinhVien__SinhVi__412EB0B6]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_VaiTro] FOREIGN KEY([VaiTroId])
REFERENCES [dbo].[VaiTro] ([VaiTroId])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_VaiTro]
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD  CONSTRAINT [FK__ThongBao__TaiKho__73BA3083] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoanId])
GO
ALTER TABLE [dbo].[ThongBao] CHECK CONSTRAINT [FK__ThongBao__TaiKho__73BA3083]
GO
ALTER TABLE [dbo].[TienThueThang]  WITH CHECK ADD  CONSTRAINT [FK__TienThueT__HopDo__6EF57B66] FOREIGN KEY([HopDongId])
REFERENCES [dbo].[HopDong] ([HopDongId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TienThueThang] CHECK CONSTRAINT [FK__TienThueT__HopDo__6EF57B66]
GO
ALTER TABLE [dbo].[YeuCauXacThucChuTro]  WITH CHECK ADD  CONSTRAINT [FK__YeuCauXac__ChuTr__6C190EBB] FOREIGN KEY([ChuTroId])
REFERENCES [dbo].[ChuTro] ([ChuTroId])
GO
ALTER TABLE [dbo].[YeuCauXacThucChuTro] CHECK CONSTRAINT [FK__YeuCauXac__ChuTr__6C190EBB]
GO
ALTER TABLE [dbo].[YeuCauXacThucChuTro]  WITH CHECK ADD  CONSTRAINT [FK__YeuCauXac__Duyet__4AB81AF0] FOREIGN KEY([DuyetBoi])
REFERENCES [dbo].[TaiKhoan] ([TaiKhoanId])
GO
ALTER TABLE [dbo].[YeuCauXacThucChuTro] CHECK CONSTRAINT [FK__YeuCauXac__Duyet__4AB81AF0]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_TrangThai] CHECK  (([TrangThai]=(3) OR [TrangThai]=(2) OR [TrangThai]=(1) OR [TrangThai]=(0)))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_HopDong_TrangThai]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_Phong_TrangThai] CHECK  (([TrangThai]=(3) OR [TrangThai]=(2) OR [TrangThai]=(1) OR [TrangThai]=(0)))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_Phong_TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_TrangThai] CHECK  (([TrangThai]=(2) OR [TrangThai]=(1) OR [TrangThai]=(0)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_TrangThai]
GO
ALTER TABLE [dbo].[YeuCauXacThucChuTro]  WITH CHECK ADD  CONSTRAINT [CK_XacThuc_TrangThai] CHECK  (([TrangThai]=(2) OR [TrangThai]=(1) OR [TrangThai]=(0)))
GO
ALTER TABLE [dbo].[YeuCauXacThucChuTro] CHECK CONSTRAINT [CK_XacThuc_TrangThai]
GO
USE [master]
GO
